@import "../../scss/font.scss";

.graph {
  background-color: rgba(112, 105, 105, 0.21);
  width: 100%;
  height: 100%;
  .card {
    margin-bottom: 17px;
    .timesales {
      width: 350px;
      margin: 0 auto;
    }
    .clientage {
      width: 340px;
      height: 160px;
      margin: 0 auto;
      position: relative;
    }
    .density {
      width: 160px;
      height: 160px;
      margin: 0 auto;
      position: relative;
    }
    .localsales {
      width: 340px;
      height: 160px;
      margin: 0 auto;
      position: relative;
    }
    .dailysales {
      width: 340px;
      height: 160px;
      margin: 0 auto;
      position: relative;
    }
  }
}
