@import "../../scss/font.scss";

.container {
  .top_content {
    height: 224px;
    width: 100%;
    background-color: #255483;
    position: relative;
    .nav {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      .title {
        font-size: 25px;
        font-family: $Vitro_core;
        margin: 0;
        // position: absolute;
        // top: 21px;
        // left: 30px;
        color: white;
        margin-left: 30px;
        margin-top: 21px;
      }
      .back {
        background-color: transparent;
        z-index: 3;
        border: none;
        font-family: $Vitro_pride;
        font-size: 20px;
        color: #00ffff;
        margin-left: 180px;
        margin-top: 21px;
        // position: absolute;
        // top: 21px;
        // right: 48px;
      }
    }
    .search {
      font-size: 40px;
      color: white;
      font-family: $Vitro_pride;
      position: absolute;
      bottom: 38px;
      left: 30px;
      margin: 0;
    }
  }
  .bottom_content {
    width: 100%;

    .first_address {
      z-index: 0;
      width: 159px;
      height: 100vh;
      background-color: rgba(128, 128, 128, 0.24);
    }
  }
}
